/*首页共用样式*/
body {
    background-color: rgb(242, 249, 253);
}

.my-header {
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
    padding: 20px 30px;
    overflow: hidden;
}

h5 {
    float: right;
    margin-left: 20px;
    line-height: 50px;
    color: white;
    height: 50px;
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

.setting{
    float: right;
    color: white;
    margin-left: 20px;
}

.location {
    width: 100%;
    padding-left: 180px;
    margin: 0;
    display: inline-block;
    line-height: 20px;
    border-bottom: 1px solid #b5cfd9;
}
/*页脚*/
footer {
    text-align: center;
    color: #999;
    position: fixed;
    width: 100%;
    line-height: 30px;
    z-index: 999;
    font-size: 13px;
    bottom: 0;
    background: #FFFFFF;
    opacity: 0.8;
}