<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.bnuz.seawas.dao.DestinationProductMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.bnuz.seawas.entity.DestinationProduct" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="destinationId" property="destinationId" jdbcType="VARCHAR" />
    <result column="productId" property="productId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, destinationId, productId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_destinationproduct
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_destinationproduct
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.bnuz.seawas.entity.DestinationProduct" >
    insert into t_destinationproduct (id, destinationId, productId
      )
    values (#{id,jdbcType=VARCHAR}, #{destinationId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.bnuz.seawas.entity.DestinationProduct" >
    insert into t_destinationproduct
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="destinationId != null" >
        destinationId,
      </if>
      <if test="productId != null" >
        productId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="destinationId != null" >
        #{destinationId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.bnuz.seawas.entity.DestinationProduct" >
    update t_destinationproduct
    <set >
      <if test="destinationId != null" >
        destinationId = #{destinationId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        productId = #{productId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.bnuz.seawas.entity.DestinationProduct" >
    update t_destinationproduct
    set destinationId = #{destinationId,jdbcType=VARCHAR},
      productId = #{productId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>