<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.bnuz.seawas.dao.LikeMapper">

    <sql id="baseColumns">
        a.id,
        a.userId AS "user.id",
        a.photoId AS "photo.id",
        a.createTime
    </sql>

    <insert id="insert">
        INSERT INTO t_like(
          id,
          userId,
          photoId,
          createTime
        ) VALUES (
          #{id},
          #{user.id},
          #{photo.id},
          #{createTime}
        )
    </insert>

    <!-- 查询某用户针对某图片的点赞记录 -->
    <select id="getByUserAndPhoto" resultType="cn.edu.bnuz.seawas.entity.Like">
        SELECT
          <include refid="baseColumns"/>
        FROM t_like a
        WHERE a.userId = #{user.id}
        AND a.photoId = #{photo.id}
    </select>
</mapper>