<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.bnuz.seawas.dao.PhotoMapper" >

  <resultMap id="BaseResultMap" type="cn.edu.bnuz.seawas.entity.Photo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="albumId" property="album.id" jdbcType="VARCHAR" />
    <result column="picUrl" property="picUrl" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="adminId" property="admin.id" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    a.id,
    a.albumId AS "album.id",
    a.picUrl,
    a.state,
    a.createTime,
    a.auditTime,
    a.adminId AS "admin.id",
    a.likes
  </sql>

  <sql id="adminJoinColumns">
    ad.realName AS "admin.realName"
  </sql>

  <sql id="adminJoins">
    LEFT JOIN t_admin ad ON a.adminId = ad.id
  </sql>

  <select id="get" resultType="cn.edu.bnuz.seawas.entity.Photo">
    select 
      <include refid="Base_Column_List" />,
      <include refid="adminJoinColumns"/>
    from t_photo a
      <include refid="adminJoins"/>
    where a.id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findList" resultType="cn.edu.bnuz.seawas.entity.Photo">
    SELECT
      <include refid="Base_Column_List"/>,
      <include refid="adminJoinColumns"/>
    FROM t_photo a
      <include refid="adminJoins"/>
    <where>
      <if test="album != null">
        <if test="album.id != null and album.id != ''">
          a.albumId = #{album.id}
        </if>
        <if test="state != null and state != ''">
          AND a.state = #{state}
        </if>
      </if>
    </where>
    ORDER BY a.albumId DESC
  </select>

  <delete id="delete">
    delete from t_photo
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert">
    insert into t_photo (
      id,
      albumId,
      picUrl,
      state,
      createTime,
      auditTime,
      adminId,
      likes
    ) values (
      #{id,jdbcType=VARCHAR},
      #{album.id,jdbcType=VARCHAR},
      #{picUrl,jdbcType=VARCHAR},
      #{state,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{auditTime,jdbcType=TIMESTAMP},
      #{admin.id,jdbcType=VARCHAR},
      #{likes}
    )
  </insert>

  <insert id="insertSelective">
    insert into t_photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="album != null">
        <if test="album.id != null and album.id != ''" >
          albumId,
        </if>
      </if>
      <if test="picUrl != null" >
        picUrl,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="auditTime != null" >
        auditTime,
      </if>
      <if test="admin != null">
        <if test="admin.id != null and admin.id != ''" >
          adminId,
        </if>
      </if>
      <if test="likes != null">
        likes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="album != null">
        <if test="album.id != null and album.id != ''" >
          #{album.id,jdbcType=VARCHAR},
        </if>
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="admin != null">
        <if test="admin.id != null and admin.id != ''" >
          #{admin.id,jdbcType=VARCHAR},
        </if>
      </if>
      <if test="likes != null">
        #{likes},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective">
    update t_photo
    <set >
      <if test="album != null">
        <if test="album.id != null and album.id != ''" >
          albumId = #{album.id,jdbcType=VARCHAR},
        </if>
      </if>
      <if test="picUrl != null" >
        picUrl = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null" >
        auditTime = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="admin != null">
        <if test="admin.id != null and admin.id != ''" >
          adminId = #{admin.id,jdbcType=VARCHAR},
        </if>
      </if>
      <if test="likes != null">
        likes = #{likes},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="update">
    update t_photo
    set albumId = #{album.id,jdbcType=VARCHAR},
      picUrl = #{picUrl,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      adminId = #{admin.id,jdbcType=VARCHAR},
      likes = #{likes}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 查找上传过图片的所有用户 -->
  <select id="findAllUser" resultType="cn.edu.bnuz.seawas.entity.User">
    SELECT u.*
    FROM t_photo a, t_album al, t_user u
    WHERE a.state = #{state}
    AND a.albumId = al.id
    AND al.userId = u.id
    GROUP BY al.userId
  </select>

  <!-- 查询某相册中的图片数量 -->
  <select id="countPhotoNumByAlbum" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM t_photo
    WHERE albumId = #{albumId}
    AND state = '2'
  </select>

  <!-- 查找相册中最新的一张图片 -->
  <select id="getLatestPhoto" resultType="cn.edu.bnuz.seawas.entity.Photo">
    SELECT
      <include refid="Base_Column_List"/>
    FROM t_photo a
    WHERE a.albumId = #{albumId}
    AND a.state = '2'
    ORDER BY a.createTime DESC
    limit 1
  </select>

  <!-- 删除某相册下的所有图片 -->
  <delete id="deleteByAlbum">
    DELETE FROM t_photo
    WHERE albumId = #{id}
  </delete>

  <!-- 点赞 -->
  <update id="getlikes">
    UPDATE t_photo
    SET likes = likes + 1
    WHERE id = #{id}
  </update>

  <!-- 查询相册中待审核图片数量 -->
  <select id="countUnAudit" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM t_photo
    WHERE albumId = #{id}
    AND state = '1'
  </select>

  <!-- 计算所有待审核图片数量 -->
  <select id="countUncheck" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM t_photo
    WHERE state = '1'
  </select>
</mapper>