<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    <!-- 加载配置文件 -->
    <!--通常我们都不应在代码里面写数据库连接的配置。
        我们应该把例如数据库连接 数据库用户名以及密码等应该写成properties文件存在与项目中。
        例如如下代码，就会把db.properties 文件中的内容、键值对加入到容器中当作上下文使用。
        (${xx.xx}应该是el表达式)
    -->
    <context:property-placeholder location="classpath:seaWas.properties" />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.user}" />
        <property name="password" value="${jdbc.password}" />
        <!-- 连接池启动时的初始值 -->
        <property name="initialSize" value="10" />
        <property name="maxActive" value="50" />
        <property name="maxIdle" value="10" />
        <property name="testOnBorrow" value="true" />
        <property name="validationQuery" value="select 1" />
        <property name="testWhileIdle" value="true" />

        <!-- #在取出连接时进行有效验证 -->
        <property name="removeAbandonedTimeout" value="120" />
        <property name="removeAbandoned" value="true" />
        <!-- #运行判断连接超时任务的时间间隔，单位为毫秒，默认为-1，即不执行任务。 -->
        <property name="timeBetweenEvictionRunsMillis" value="3600000" />
        <!--#连接的超时时间，默认为半小时。 -->
        <property name="minEvictableIdleTimeMillis" value="3600000" />
    </bean>

    <!--Mybatis begin-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据库连接池 -->
        <property name="dataSource" ref="dataSource" />

        <!--entity 别名扫描路径-->
        <property name="typeAliasesPackage" value="cn.edu.bnuz.seawas.entity"/>
        <!--别名扫描的所支持的父类 -->
        <!--<property name="typeAliasesSuperType" value="com.thinkgem.jeesite.common.persistence.BaseEntity"/>-->

        <!--配置mapper文件路径
           多路径配置用,隔开
        -->

        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
        <!-- 加载mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml" />
    </bean>

    <!-- mapper.java 扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="cn.edu.bnuz.seawas.dao"></property>
    </bean>

</beans>  